h1{
    color:aqua;
}

#probandoHistoria{
    text-decoration: underline;
    background-color: blueviolet;
}

/*
Van a usar 2 selectores de etiqueta, 
van a sacarle los puntitos que aparecen en los botones del nav.
van a darle a todas las imagenes una redondez en el borde.
van a darle el mismo color de fondo a 3 secciones
van a darle borde al div del logo