@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
h1{
    color:aqua;
}

p{
    font-family:"Google Sans",sans-serif ;
    font-weight: 400;
}
button{
    font-family:"Google Sans",sans-serif ;
    font-weight: 700;
    font-style: italic;


}
#probandoHistoria{
    text-decoration: underline;
    background-color: blueviolet;
}

/*
Van a usar 2 selectores de etiqueta, 
van a sacarle los puntitos que aparecen en los botones del nav.
van a darle a todas las imagenes una redondez en el borde.
van a darle el mismo color de fondo a 3 secciones
van a darle borde al div del logo